html,
body {
  margin: 0;
  padding: 0;
  background: #23093c;
}

#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#app {
  background: #150425;
}
